body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.5;
     
}
h1, h2{
    
    text-align: center; 
    color: #0056b3;
 
}

p{
    text-align: center;
}

form{
    background-color: #ffffff; 
    padding: 40px;
    border-radius: 0px 4px 6px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 20px auto;    
}

input,textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

input[type="submit"]{
    background-color: #0056b3; 
    color: white;
    font-weight: 700;
    border: none;  
    cursor: pointer; 
     
}

ul{
    list-style: none;
    padding: 0;
    text-align: center;
       
}

ul li{

    margin: 5px 0;
}
    
footer{
    text-align: center;
    margin-top: 20px;
}    

img{

    width: 10%;
}
